// Bootstrap
@import "bootstrap.less";

// Components
@import "datepicker.less";
@import "datatable.less";
@import "backstage.less";

.title {
  font-family: "Rancho", cursive; 
  font-size: 50px;
}

.vertical-space {
  height: @gridGutterWidth / 4;
}

.white-text {
  color: white;
}

// Page Frame
body {
  padding-top: @navbarHeight * 2;
  padding-bottom: @navbarHeight;
  background-image: url("../img/wood.png");
  background-color: @white;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 15px;
}
body #main.container-fluid {
  margin: 0px auto;
  max-width: @gridRowWidth;
  padding: @gridGutterWidth;
  .box-shadow(0 0px 50px fade(@grayLight, 50%));
  background-color: @white;
  border: solid 5px @gray;
  .border-radius(3px);
}
.navbar {
  .box-shadow(0 10px 25px fade(@gray, 50%));
}
.navbar .container-fluid{
  max-width: @gridRowWidth;
  margin: 0 auto;
}

// Typography
.navbar .brand {
  font-weight: bold;
  text-shadow: 0px 0px 5px @white;
}

// Utilities
.sticky {
  position: fixed;
  top: 60px;
}

// Responsive UI (Last Line)
@import "responsive.less";
